
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_KEY=sua_chave_anon_ou_service_role_aqui


SUPABASE_TABLE=contatos


ZAPI_INSTANCE_ID=sua_instance_id
ZAPI_TOKEN=seu_token
ZAPI_CLIENT_TOKEN=seu_client_token_de_seguranca

ZAPI_DELAY_TYPING=3


ZAPI_DELAY_MESSAGE=2


MAX_CONTATOS=3


INTERVALO_MIN_SEGUNDOS=3
INTERVALO_MAX_SEGUNDOS=8
